# OS Files
.DS_Store
Thumbs.db

# Dependencies
node_modules

# Unconfigured Editors
.vscode
.idea

# Coverage directory used by tools like istanbul
coverage

# Dotenv environment variables file
.env

# Builded library
dist

# Service worker
sw.*

# Storybook dist
storybook-static
